* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

body{
    background-color: #ff9d00;
}

#contenedorsito{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 50px;
}

h1{
    color: white;
    padding: 30px 0;
    font-variant: small-caps;
    font-size: 3em;
}

#listita{
    list-style: none;
}

#listita li{
    margin: 10px 0;
}

#listita li input{
    background-color: tomato;
    font-size: 3em;
    color: white;
    border: none;
    font-variant: small-caps;
}

#randomChampion{
    background-color: yellow;
    color: tomato;
    font-size: 2em;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin: 30px 0;
    cursor: pointer;
}

#randomChampion:hover{
    background-color: #f6f92a;
}

#portaganador{
    width: 40%;
    margin: auto;
}

#ganador{
    color: tomato;
    background-color: white;
    font-size: 4em;
    font-variant: small-caps;
    font-weight: 800;
}