/* 


COLORES

CELESTE
color: #ADDFEA;

QUESO
color: #FDE8A3;

TOMATE
color: #A51B11;

ACEITUNA
color: #71C063;

FUENTES

font-family: 'cheese_pizzacheese_pizza';


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cheese_pizzacheese_pizza';
    text-align: center;
}

body{
    background-image: url(cositas/pizza.png);
}

#contenedorsito{
    margin-top: 100px;
    padding: 50px;
    background-color: #FDE8A3;
}

h1{
    padding: 20px 0;
    font-weight: 800;
    font-size: 4em;
    color: #A51B11;
    /*text-shadow: 0px 4px 0px rgba(0, 0, 0, 1);*/
}

#listita{
    list-style: none;
}

#listita li{
    margin: 10px 0;
}

#listita li input{
    padding-bottom: 5px;
    background-color: #ADDFEA;
    font-size: 3em;
    color: black;
    border: none;
}

#randomChampion{
    background-color: #71C063;
    color: #fff;
    font-size: 2em;
    border: none;
    padding: 0px 30px 14px 30px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 1);
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin: 30px 0;
    cursor: pointer;
}

#randomChampion:hover{
    background-color: #f6f92a;
}

#portaganador{
    width: 40%;
    margin: auto;
}

#ganador{
    color: tomato;
    background-color: white;
    font-size: 4em;
    font-weight: 800;
}